/* ///////// */
/* fieldsets */
/* ///////// */
fieldset {
    background-color: var(--fieldset-bg);
    color: var(--text);
    margin: 1em;
    padding: 0;
    border-color: var(--bottom-border);
    border-style: solid;
    border-width: .3em;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

fieldset fieldset {
    margin-top: 0;
    margin-left: 0;
}

#section-1b fieldset {
    border-color: var(--accent);
    border-width: .2em;
}

#section-1c fieldset {
    border-color: var(--accent);
    border-width: .2em;
}

#section-1d fieldset {
    border-color: var(--accent);
    border-width: .2em;
}

fieldset > * {
    margin-left: 1em;
    margin-right: 1em;
}



/* /////// */
/* legends */
/* /////// */
legend {
    display: block;
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.3em;
    background-color: var(--button);
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

fieldset fieldset > legend {
    font-size: 1.1em;
    background-color: transparent;
}



/* ////// */
/* labels */
/* ////// */
label {
    display: block;
    color: var(--text);
    font-weight: bold;
}



/* ////// */
/* inputs */
/* ////// */
input {
    color: var(--text);
    display: block;
    margin: 1em;
    margin-left: 0;
    margin-bottom: 2em;
}



/* /////// */
/* buttons */
/* /////// */
button[type="submit"] {
    background-color: var(--button);
    padding: 1em;
    border-color: var(--accent);
    border-radius: .5em;
    display: block;
    margin: 0 auto;
}



/* ///////////////// */
/* opmaak fieldset p */
/* ///////////////// */
fieldset p:first-of-type {
    text-align: left;
    background-color: transparent;
    color: var(--text);
    padding: 0;
    text-transform: none;
    font-weight: normal;
    font-size: 1.1em;
}