/* ///////// */
/* fieldsets */
/* ///////// */
fieldset {
    background-color: var(--fieldset-bg);
    color: var(--text);
    margin: 1em;
    padding: 0;
    padding-left: 1em;
    border-color: var(--bottom-border);
    border-style: solid;
    border-width: .3em;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

fieldset fieldset {
    margin-top: 0;
    margin-left: 0;
}

#section-1b fieldset,
#section-1c fieldset,
#section-1d fieldset {
    border-color: var(--accent);
    border-width: .2em;
}

fieldset > * {
    margin-left: 1em;
    margin-right: 1em;
}



/* /////// */
/* legends */
/* /////// */
legend {
    display: block;
    margin: 0;
    margin-bottom: 1em;
    margin-left: -0.8em;        /* weer goedzetten t.o.v. fieldset */
    font-size: 1.3em;
    background-color: var(--button);
    padding: 0.5em;
    width: calc(100% + 0.8em);
    box-sizing: border-box;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

fieldset fieldset > legend {
    font-size: 1.1em;
    background-color: transparent;
}



/* ////// */
/* labels */
/* ////// */
label {
    display: block;
    color: var(--text);
    font-weight: bold;
}



/* ////// */
/* inputs */
/* ////// */
input {
    color: var(--text);
    display: block;
    margin: 1em;
    margin-left: 0;
    margin-bottom: 2em;
}



/* /////// */
/* buttons */
/* /////// */
button[type="submit"] {
    background-color: var(--button);
    padding: 1em;
    border-color: var(--accent);
    border-radius: .5em;
    display: block;
    margin: 0 auto;
}



/* ////////////////////////////////// */
/* opmaak section gegevens overledene */
/* ////////////////////////////////// */
#vraag1-gegevens {
    & h2 {
        margin-top: 1.5em;
    }

    & p {
        margin-top: 0;
        margin-bottom: 1.5em;
        font-size: 1.1em;
    }
}