/* ////////////////////// */
/* progressive disclosure */
/* ////////////////////// */

/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:checked */

/* standaard b c en d verbergen */
#section-1b,
#section-1c,
#section-1d {
    display: none;
}

/* 1a ingevuld, 1b-1 open */
#section-1a:not(:has(input:invalid)) ~ #section-1b {
    display: block;
}
#section-1b > fieldset:not(:first-of-type) {
    display: none;
}

/* test */
/* #section-1a {
    border: 3px solid var(--ns-geel);
}
#section-1a:not(:has(input:invalid)) {
    border: 3px solid green;
} */

/* 1b-1 ja > 1b-2 */
#section-1b:has(#partner-ja:checked)
    > fieldset:nth-of-type(2) {
    display: block;
}

/* 1b-1 nee > 1c */
#section-1b:has(#partner-nee:checked) ~ #section-1c {
    display: block;
}
#section-1c > fieldset:not(:first-of-type) {
    display: none;
}

/* 1b-2 ja > 1b-3 */
#section-1b:has(#partner-ja:checked):has(#akte-ja:checked)
    > fieldset:nth-of-type(3) {
    display: block;
}

/* 1b-2 nee > 1c */
#section-1b:has(#akte-nee:checked) ~ #section-1c {
    display: block;
}

/* 1b-3 ja > 1b-4 */
#section-1b:has(#partner-ja:checked):has(#akte-ja:checked):has(#beding-ja:checked)
    > fieldset:nth-of-type(4) {
    display: block;
}

/* 1b-3 nee > 1c */
#section-1b:has(#beding-nee:checked) ~ #section-1c {
    display: block;
}

/* 1b ingevuld, 1c-1 open */
#section-1b:not(:has(input:invalid)) ~ #section-1c {
    display: block;
}

/* 1c-1 ja > 1c-2 */
#section-1c:has(#kinderen-ja:checked)
    > fieldset:nth-of-type(2) {
    display: block;
}

/* 1c-1 nee > 1d */
#section-1c:has(#kinderen-nee:checked) ~ #section-1d {
    display: block;
}
#section-1d > fieldset:not(:first-of-type) {
    display: none;
}

/* 1c-2 ja > 1c-3 */
#section-1c:has(#kinderen-ja:checked):has(#overleden-kind-ja:checked)
    > fieldset:nth-of-type(3) {
    display: block;
}

/* 1c-2 nee > 1d */
#section-1c:has(#overleden-kind-nee:checked) ~ #section-1d {
    display: block;
}

/* 1c-3 ja > 1d */
#section-1c:has(#kinderen-ja:checked):has(#overleden-kind-ja:checked):has(#kinderen-van-ja:checked)
    ~ #section-1d {
    display: block;
}

/* 1c-3 nee > 1d */
#section-1c:has(#kinderen-van-nee:checked) ~ #section-1d {
    display: block;
}

/* 1d-1 ja > 1d-2 */
#section-1d:has(#testament-ja:checked)
    > fieldset:nth-of-type(2) {
    display: block;
}

/* 1d-1 nee > volgende pagina / vraag 2 */