/* ///////////////// */
/* custom properties */
/* ///////////////// */
:root {
    color-scheme: light dark;

    /* basiskleuren */
    --ns-geel: #FFC917;
    --ns-donkerblauw: #003082;
    --ns-lichtblauw: #0063D3;
    --ns-wit: #FFFFFF;
    --ns-grijs: #E6E6E9;
    --disclaimer-bg: #DB0029;
    --disclaimer-text: var(--ns-wit);

    /* light theme */
    --bg: var(--ns-grijs);
    --fieldset-bg: var(--ns-wit);
    --text: var(--ns-donkerblauw);
    --input: var(--ns-wit);
    --bottom-border: var(--ns-lichtblauw);
    --accent: var(--ns-grijs);
    --button: var(--ns-geel);
    --button-hover: #DEB01B;

    /* dark theme */
    @media (prefers-color-scheme: dark) {
        --bottom-border: var(--ns-geel);
        --button: var(--ns-donkerblauw);
    }
}

@font-face {
    font-family: 'nssans-regular';
    src: url('../fonts/nssans-regular.woff2') format('woff2');
}

/* /////// */
/* general */
/* /////// */
body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

main {
    font-family: 'nssans-regular', sans-serif;

    /* disclaimer styling */
    & > p:first-of-type {
        text-align: center;
        background-color: var(--disclaimer-bg);
        color: var(--disclaimer-text);
        padding: 1em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.3em;
        margin: 0;
    }
}

/* //////// */
/* headings */
/* //////// */
h1 {
    color: var(--text);
    text-align: center;
    padding: 1em 0 0.5em;
    margin: 0;
}

h2 {
    color: var(--text);
    text-align: start;
    margin: 0 0 1em 1.2em;
}

/* /////////////// */
/* section opmaak  */
/* /////////////// */
section:first-of-type {
    background-color: var(--ns-wit);

    & p, & li {
        font-size: 1em;
        color: var(--text);
        text-align: left;
    }

    & p {
        margin: 0 1.5em 1.5em 1.5em;
    }

    & p:first-of-type {
        margin-bottom: 2em;
    }

    & p:nth-of-type(2) {
        margin-top: -0.5em;
    }

    & li {
        margin-top: 0.2em;
    }

    & ul {
        padding-bottom: 2em;
        margin-bottom: 0;
        background-color: var(--ns-wit);
    }
}

#vraag2-gemachtigde {
    & p {
        font-size: 1em;
        color: var(--text);
        text-align: left;
    }

    & p {
        margin: 0 1.5em 1.5em 1.5em;
    }

    & p:first-of-type {
        margin-bottom: 2em;
    }
}



/* /////////////////// */
/* opmaak info details */
/* /////////////////// */
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ns-geel);

    & h2 {
        align-self: flex-start;
        width: 100%;
        padding-top: 1.5em;
        margin-bottom: 0.5em;
    }

    & details {
        margin: 1em 1em 0;
        width: 80%;
        background-color: var(--fieldset-bg);
        padding: 1em;
        border-radius: 0.5em;
        color: var(--text);
        cursor: pointer;

        &:last-of-type {
            margin-bottom: 2em;
        }

        & summary {
            font-weight: bold;
        }

        & p, & li {
            font-size: 1em;
            text-align: left;
            color: var(--text);
        }

        & p {
            margin: 1em;
        }

        & li {
            margin-top: 1em;
            margin-left: -1.5em;
        }
    }
}