/* headings */
/* //////// */
h1 {
    color: var(--ns-donkerblauw);
    text-align: center;
}


/* labels */
/* ////// */
label {
    display: block;
    color: var(--ns-donkerblauw);
}

/* sections */
/* //////// */
/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:checked */

/* standaard b c en d verbergen */
#section-1b,
#section-1c,
#section-1d {
    display: none;
}

/* 1a ingevuld, 1b-1 open */
#section-1a:not(:has(input:invalid)) ~ #section-1b {
  display: block;
}


#section-1a {
  border: 3px solid red;
}

#section-1a:not(:has(input:invalid)) {
  border: 3px solid green;
}

/* 1b-1 ja > 1b-2 */

/* 1b-2 ja > 1b-3 */

/* 1b-3 ja > 1b-4 */


/* 1b-1 nee > 1c */



/* fieldsets */
/* ///////// */
fieldset {
    background-color: var(--ns-wit);
    color: var(--ns-donkerblauw);
    margin: 1em;
    border-color: var(--ns-lichtblauw);
    border-style: solid;
    border-width: .3em;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

#section-1b fieldset {
    border-color: var(--ns-grijs);
    border-width: .2em;
}

#section-1c fieldset {
    border-color: var(--ns-grijs);
    border-width: .2em;
}

#section-1d fieldset {
    border-color: var(--ns-grijs);
    border-width: .2em;
}


/* legends */
/* /////// */
legend {
    margin-bottom: 1em;
}


/* inputs */
/* ////// */
input {
    color: var(--ns-donkerblauw);
    display: block;
    margin: 1em;
    margin-left: 0;
    margin-bottom: 2em;
}

input[type="submit"] {
    background-color: var(--ns-geel);
    border-color: var(--ns-geel);
    border-width: 1em;
    border-style: solid;
    border-radius: .5em;
    display: block;
    margin: 0 auto;
}